.AppBarContenu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.AppBarIcones {
    display: flex !important;
    flex-direction: row-reverse;
    width: 100% !important;
}

.AppTitre {
    min-width: 200px;
    padding-top: 16px;
}
