.AppBarContenu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.AppBarIcones {
    display: flex !important;
    flex-direction: row-reverse;
    width: 100% !important;
}

.AppTitre {
    width: 175px;
    height: 48px;
}

.AppBarTitre {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Avatar {
    width: 30px;
    height: 30px;
}

.BoutonAvatar {
    padding: 0 !important;
}
