.medicament-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.medicament {
  max-width: 300px;
  border-left-width: 4px;
  border-left-style: solid;
}

mat-card.medicament.valide {
  border-left-color: green;
}

mat-card.medicament.perime {
  border-left-color: red;
}

mat-card.medicament.proche-perime {
  border-left-color: orange;
}

mat-card-subtitle.perime {
  color: red;
}

.pharmacie-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
