<ng-container *ngIf="auth.isAuthenticated$ | async">
  <div class="menu-utilisateur" mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="utilisateur">account_circle</mat-icon>
    <div *ngIf="auth.user$ | async as user">
      <div>{{ user.email }}</div>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Préférences</button>
    <button mat-menu-item (click)="auth.logout({ returnTo: document.location.origin })">Se déconnecter</button>
  </mat-menu>
</ng-container>

<ng-container *ngIf="auth.isLoading$ | async">
  <mat-spinner color="accent" diameter="30"></mat-spinner>
</ng-container>
